* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #F2F2F2;
    --secondary-color: #FFF;
    --secondary-alter-color: #2B67A1;
    --accent-color: #80ff8c;
    --text-color: #213846;
}

body {
    font-family: Inter;
    background-color: var(--primary-color);
}

header {
    background: linear-gradient(90deg, #3E87CE, #2B67A1 15%, #113961);
    display: flex;
    align-items: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    max-height: 80px;
}

header h1 {
    color: #FFF;
    font-size: clamp(12px, 3.5vw, 16px);
    text-align: center;
    width: 40%;
}

header h1::after {
    content: 'Design />';
    color: var(--accent-color);
}

header nav {
    max-width: 62%;
    min-width: 120px;
}

header nav ul {
    list-style-type: none;
}

header nav ul > li {
    display: inline-block;
}

header nav ul > li:first-child {
    margin-left: 5vw;
}

header nav ul > li:not(:first-child) {
    margin-left: 10vw;
}

header .nav-link {
    color: #FFF;
    font-size: min(1.3rem, 32px);
}

header .nav-link .label {
    display: none;
}

.profile-data {
    width: 100%;

}

.profile-data {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 15px;
    box-sizing: border-box;
}

.user-info {
    margin-right: 8px;
}

.username {
    font-weight: 600;
    color: var(--text-color);

}

.user-role {
    font-weight: 500;
    font-size: 12px;
    color: #7D7D7D;
}

.user-avatar {
    width: 55px;
    height: 55px;
    background-color: #D9D9D9;
    border-radius: 50%;
}

